backend:
  name: git-gateway
  repo: bwnstck/bildungsbaeume
  branch: main
media_folder: public/images
site_url: https://wanderndebildungsbaeume.de
display_url: wanderndebildungsbaeume.de
logo_url: /logoBB.png # Logo used in CMS
public_folder: /images
# publish_mode: editorial_workflow
locale: 'de'
slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '_'

collections:
  - name: 'config'
    label: 'Einstellungen'
    delete: false
    editor:
      preview: false
    files:
      - name: 'general'
        label: 'Website Einstellungen'
        file: 'config.json'
        description: 'General site settings'
        fields:
          - label: 'URL'
            name: 'base_url'
            widget: 'string'
            hint: 'Do not enter the trailing slash of the URL'
          - label: 'Site title'
            name: 'site_title'
            widget: 'string'
          - label: 'Site description'
            name: 'site_description'
            widget: 'string'
          - label: 'Site keywords'
            name: 'site_keywords'
            widget: 'list'
            summary: '{{fields.keyword.keyword}}'
            field:
              label: Keyword
              name: keyword
              widget: 'string'
  - name: 'pages'
    label: 'Seiten'
    delete: false
    editor:
      preview: false
    files:
      - name: 'underConstruction'
        label: 'Im Aufbau'
        file: 'meta/underConstruction.yml'
        description: 'Im Aufbau'
        fields:
          - label: Im Aufbau
            name: underConstructionToggle
            widget: 'boolean'
            default: true
          - label: Titel
            name: title
            widget: 'string'
          - name: body
            label: Inhalt
            widget: 'markdown'
          - name: instaName
            label: Instagram Username
            widget: 'string'
      - name: 'Home'
        label: 'Landingpage'
        file: 'meta/home.yml'
        description: 'Landingpage'
        fields:
          - name: section1
            label: Erster Abschnitt
            fields:
              - name: Titel
                label: Titel
                widget: 'string'
              - name: body
                label: Inhalt
                widget: 'markdown'
      - name: 'footerContent'
        label: 'Footer Datenschutz Impressum'
        file: 'meta/footerContent.yml'
        description: 'Details zu Footer, Impressum und Datenschutz'
        fields:
          - name: impressBody
            label: Impressum
            widget: 'markdown'
          - name: dataSecurityBody
            label: Datenschutz
            widget: 'markdown'
          - name: footerMeta
            label: Footer Details
            widget: 'string'
            description: 'Text neben Jahr und Impressum/Datenschutz'
